/* colors */
$primary-color: #ffffff;
$secondary-color: #f7600e;
$additional-color: #3b434c;

/* priority */
$top-priority: 100;

/*layout width*/
$standart-layout-width: 1200px;

/* line height and vertical align smth in element */
$centered: 50px;